* text=auto eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.msi binary
*.exe binary
*.dmg binary
*.deb binary
*.AppImage binary
bun.lockb binary

# Force LF utk shell scripts walau di Windows
*.sh text eol=lf
